@charset "UTF-8"

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafafa;
    color: #333;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

header {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 2rem 1rem;
}

section {
    margin-bottom: 2rem;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 0,5rem;
}

#produto {
    display: flex;
    gap: 2rem;
    align-items: center;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
}

#produto > img {
    max-width: 300px;
}

#produto > h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 12px;
    color: #777;
}
